<div class="jumbotron">
    <h1 style="color:#00C4B5">PERSONAL LOANS</h1>
    <h2 style="color:#003B70">Let your dreams come true with EGBANK Personal Loans</h2>
    <h3 style="color:#003B70">Benefits</h3>
    <ul>
      <li>Loan amount can reach up to EGP 3,000</li>
      <li>Loan tenure from 6 months up to 120 months</li>
      <li>Competitive interest rates</li>
      <li>Life insurance throughout loan tenure</li>
    </ul>
    <h3 style="color:#003B70">Requirements</h3>
    <ul>
      <li>Copy of valid national ID</li>
      <li>Recent utility bill (within 3 months)</li>
      <li>Proof of income:
        <ul>
          <li>Salary / Installment transfer customers:
              Agreement with employer to transfer salary / installments.
          </li>
          <li>Non-Salary / Installment transfer customers:
              Authenticated HR letter or HR letter with bank statements from the past 3 months.
          </li>
          <li>Self-employed / Professional customers:
              Valid tax card and last 6 months of bank statements, in addition to copy of recent and valid commercial register for self-employed or certificate of profession, valid syndicate ID and medical institution license for professionals.

          </li>
        </ul>
      </li>
    </ul>
    <h3 style="color:#003B70">Eligibility</h3>
    <ul>
      <li>Salaried clients: Minimum age of 21 years up to 60 years at loan maturity.</li>
      <li>Self-employed and Professionals: Up to 65 years of age at loan maturity.</li>
    </ul>

  </div>
