<div class="jumbotron">
    <h2>Freedom of Information Act 2014</h2>
    <p>To request access to records under the FOI Act 2014 use application form menu.</p>
    <h3>What is Freedom of Information?</h3>
    <p>
      The Freedom of Information Act came into effect on 21 April, 1998. 
      This Act gives you  the  right  to  access  records  held  by  Government  departments  and  certain  public  bodies.
    <h3>What can you ask for?</h3> 
    <p>
    You  can  ask  for  the  following  records  held  by  Government  departments  or  certain  public bodies: w  any records relating to you personally, whenever created w  all other records created after 21 April, 1998 
    </p>  
    <h3>Procedure for accessing records</h3>
    <p>To access a record you must apply in writing to the Information Officer, Information Unit  (FOI)  Department  of  Justice  and  Equality,  51  St.  Stephen’s  Green,  Dublin  2,stating  that  the  request  is  made  under  the  Freedom  of  Information  Act  clearly identifyingthe  records  that  you  seek.  
      If  you  are  seeking  personal  records,  you  should   include   photographic   identification.     Should   you   need   assist   in   making  your  request, you can contact foi@justice.ie or alternatively ring 01 8592274/2276/2349.
    </p>
    <h3>Processing of applications</h3>
    <p>You will receive an acknowledgement of your application within 10 working days. A decision on your application will normally be  made  within  20  working  days. 
      If  your  request is refused you will be given reasons for the refusal.
    </p> 
    <h3>Can you appeal against the decision?</h3>
    <p>Yes.  If  you  are  not  satisfied  with  the  decision  regarding  your    FOI  request  you  may  ask  the  Department  for  an  "internal  review"  of  that  decision.  A  more  senior  officer  will  review  your  application.  You  will  be  told  the  result  of  this  review  within  15  working days. 
      If you are unhappy with the outcome of the "internal review" an appeal, in  writing,  may  be  made  directly  to  the  Information  Commissioner  at  the  following  address: Office of the Information Commissioner, 18 Lower Lesson Street, Dublin 2.
    </p>
    <h3>Do you have to pay?</h3>
    <p>Fees may be charged for the cost of photocopying in the case of personal information. Charges may also apply in respect of the search and retrieval of other information.  
    </p>
  
  </div>