.form {
  margin-top: 20px;;
  margin-left: 2%;
  min-width: 150px;
  max-width: 800px;
  width: 100%;
}

.full-width {
  width: 95%;
  color: grey;
}

.black-text{
  width: 95%;
  font-size: 19px;
}

.h2 {
    color: #000000;
    margin-left: 2%;
}

.td {
  margin-left: 5%;
  padding-right: 8px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  font-weight: lighter;
}
  
.mat-radio-button {
  margin: 5px;
  margin-left: 10px;
}

.radio-group-label {
    font-weight: lighter;
    color: grey;
}

section {
    display: table;
  }
  
.label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.button-row {
  display: table-cell;
  width: 490px;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
  margin-left: 250px;
  color: grey;
}
.tabbed-right {
    margin-left: 2%;
}